@charset "UTF-8";

body{
    background-color: rgb(235, 253, 208);
    font: normal 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 6px;
}

main{
    max-width: 800px;
    min-width: 400px;
    margin: auto;
}

h1{
    color: green;
    font-size: 1.5em;
}

h2{
    font-size: 18px;
    color: rgb(68, 83, 44);
}

p{
    text-align: justify;
}

h1#principal{
    text-align: center;
    font-size: 2.5em;
    background-color: rgb(255, 255, 255);
    border-radius: 13px;
}

.basico{
    color: rgb(77, 129, 86);
}

.intermediario{
    color: rgb(129, 119, 77);
}

.avançado{
    color: rgb(129, 77, 77);
}

.destaque{
    background-color: rgba(210, 212, 94, 0.692);
}

/*Existe uma hierarquia na qual, primeiro se configura os genéricos -> específicos -> class -> ids

    - Todas as configurações genéricas passam para as configurações específicas.

    - As Ids tem peso maior sobre as Classes 
*/